*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.app {
  width: 415px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eee;
  min-height: 100vh;
}

@media (max-width: 415px) {
  .app {
    width: 100%;
  }
}

.brand {
  text-align: center;
  font-size: 13;
  font-weight: 600;
  padding: 20px 0;
}
.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solir #eee;
  display: flex;
}

.nav-item {
  display: inline-block;
  flex: 1 1 0;
  text-align: center;
  padding: 14px 0;
  color: #000;
  text-decoration: none;
  border-right: 1px solid #eee;
}
.nav-item:not(:last-child) {
  border-right: 1px solid #eee;
}

.section {
  padding: 20px 40px;
}
.section-title {
  margin-top: 0;
}

.section-description {
  line-height: 26px;
}
.articles {
  border-top: 1px solid #eee;
}
.article {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
.article-title {
  margin-top: 0;
}
.article-title a {
  color: #000;
  text-decoration: none;
}
.article-title a:hover {
  color: tomato;
}
.article-time {
  color: #999;
  font-size: 12px;
}
.article-image {
  max-width: 100%;
  margin: 30px 0;
}
.article-summary {
  line-height: 26px;
  margin-top: 0;
}
.article-source {
  color: #999;
}
